{% extends '_layouts/base.html' %}
{% load crispy_forms_tags %}


{% block content %}


{% if user.is_authenticated %}
<hr>
{% if roles.role == 'doctor' %}
<center><h1>View My Patients</h1></center>
{% elif roles.role == 'hsp' %}
<center><h1>View All Patients</h1></center>
{% endif %}
<hr>


{% if patients == 0 %}

<h2>You Don't Currently Have Patients</h2>

{% else %}
<center>
	<div class="row">
	{% for patient in patients %}

	  <div class = 'col-md-4'>
			<div class="alert alert-info">
			    <h3>{{patient.user.fill_from_application.first_name|title}} {{patient.user.fill_from_application.last_name|title}}</h3>

			    <hr>
			       <form action = "/accounts/portal/admin/view_lab_results" method="POST">
			       	{% csrf_token %}
			       	<input type="hidden" value="{{patient.user.pk}}" name="patient_labs"></input>
			       	<button type="submit">View Patient Lab Records</button>
			       </form>
			    <hr>
			       <form action = "/delete/" method="POST">
			       	{% csrf_token %}
			       	<input type="hidden" name="pk" value="{{patient.id}}">
			       	<button type="submit" onclick="return confirm('Are you sure you want to delete {{patient.user.fill_from_application.first_name|title}} {{patient.user.fill_from_application.last_name|title}}?')">Delete {{patient.user.fill_from_application.first_name|title}} {{patient.user.fill_from_application.last_name|title}}</button>
			       </form>
			</div>
	  </div>

	{% endfor %}
</center>

{% endif %}



{% endif %}



{% endblock %}
